@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<notification id="notificationError" notification-type="error" message="Hello Error"></notification>
<notification id="notificationSuccess" notification-type="success" message="Hello Success"></notification>
<notification id="notificationWarning" notification-type="warning" message="Hello Warning"></notification>